<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taehyun.board.Board">

	<select id="selectAllBoardList" resultType="Board">
		SELECT *
		FROM  Board
		ORDER BY 1 DESC
	</select>
	
	<select id="selectBoard" resultType="Board" parameterType="MapperVo">
		SELECT *
		FROM Board
		WHERE 1=1
		AND deleteDate IS NULL
		AND ${columeName} = #{value}
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO Board(boardNo, title, contents, createDate)
		VALUES(#{boardNo}, #{title}, #{contents}, NOW());
	</insert>
	
	<select id="selectMaxBoardNo" resultType="Int">
		SELECT IFNULL(MAX(boardNo),1)+1 FROM Board
	</select>
</mapper>