<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taehyun.board.Board">

	<select id="selectAllBoardList" resultType="Board" parameterType="Map">
		SELECT *
		FROM  (
		SELECT boardNo, title, contents, createDate, modifyDate, @ROWNUM := @ROWNUM+1 ROWNUM
		FROM Board, (SELECT @ROWNUM:=0) TEMP
		WHERE deleteDate IS NULL
		ORDER BY boardNo DESC
		) A
		WHERE ROWNUM BETWEEN #{startNo} AND #{lastNo}
	</select>
	
	<select id="selectPageNumbers" parameterType="Int" resultType="Map">
		<![CDATA[
			SELECT CASE WHEN (PAGE-2) > 0 
				   THEN (PAGE-2) ELSE 1
				   END AS 'START', 
				   CASE WHEN (PAGE+2) < COUNT 
				   THEN (PAGE+2) ELSE COUNT
				   END AS 'END', 
				   COUNT
			FROM (
			SELECT CEIL(COUNT(*) / 10) COUNT
				 , CASE WHEN #{pageNo} <= 3 THEN 3
				        WHEN #{pageNo} >= CEIL(COUNT(*) / 10)-2 THEN CEIL(COUNT(*) / 10)-2
				        ELSE #{pageNo}
				   END PAGE
			FROM Board, (SELECT @ROWNUM:=0) TEMP
			WHERE deleteDate IS NULL
			) A
		]]>
	</select>
	
	<select id="selectBoard" resultType="Board" parameterType="MapperVo">
		SELECT *
		FROM Board
		WHERE 1=1
		AND deleteDate IS NULL
		AND ${columeName} = #{value}
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO Board(boardNo, title, contents, createDate)
		VALUES(#{boardNo}, #{title}, #{contents}, NOW());
	</insert>
	
	<insert id="insertBoardAttach" parameterType="Attachment">
		INSERT INTO Attachment(attachNo, boardNo, fileName, originFileName, fileSize, createDate)
		VALUES(#{attachNo}, #{boardNo}, #{fileName}, #{originFileName}, #{fileSize}, NOW());
	</insert>
	
	<select id="selectMaxBoardNo" resultType="Int">
		SELECT IFNULL(MAX(boardNo),0)+1 FROM Board
	</select>
	
	<delete id="deleteBoard" parameterType="Int">
		UPDATE Board SET deleteDate = NOW()
		WHERE boardNo = #{boardNo} 
	</delete>
	
	<select id="selectBoardAttach" resultType="Attachment" parameterType="Int">
		SELECT *
		FROM Attachment
		WHERE 1=1
		AND deleteDate IS NULL
		AND boardNo = #{boardNo}
		ORDER BY attachNo
	</select>
</mapper>